<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="row m-5"></div>
    <div class="row m-5"></div>
    <div class="row m-5">
        <div class="col-lg-5 col-md-0">
            <img src="/contact-us.jpg" height="auto" width="100%" id="contact-us-image" alt="contact-us-image">
        </div>
        <div class="col-lg-7 col-md-12">
            <div class="row m-3">
                <div class="row m-3">
                    <h1 id="contact-us">Contact Us</h1>
                </div>
                <div class="row m-3">
                    <div class="col-md-6 col-sm-5">
                        <h1 id="vist-us"> Visit Us</h1>
                        <p id="address"> “Vikasith”<br>
                            kadduwa gedara <br>
                            walgama <br>
                            matara
                        </p>
                    </div>
                    <div class="col-md-6 col-sm-5">
                        <h1 id="contact"> contact </h1>
                        <p id="e-mail"> Kavishkaphotography07&#64;gmail.com </p>
                        <p id="phone-num">071-222-1285</p>
                    </div>
                </div>
                <div class="row m-3">
                    <a href="mailto:Kavishkaphotography07@gmail.com"> <button class="btn-primary" id="btn-mail"> Email </button></a>
                </div>
            </div>
            <div class="row m-5"></div>
        </div>
    </div>
</body>

</html>