<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row m-5"></div>
    <div class="row m-5 justify-content-center" id="portfolio-heading"> portfolio </div>

    <div class="row m-5" > 
        <!--portfolio variable came from ts file, category is a variable to be iterate. of is a keyword-->
        @for(category of portFolio; track category.id){
        <div class="col-5" id="wedding">
            <!--in here we try to link wedding portfolio page for that-->

            <a href="#" [routerLink]="['/portfolio-category', category.id]"> 
                <img src="{{ category.categoryImage ? category.categoryImage : '/default-placeholder.png'}}" id="categoryImage" alt="wedding" class="img-fluid" id="wedding-img"> 
            </a>
            <div class="row m-1"></div>
            <h1> {{category.categoryName}} </h1>
            <div class="row m-5"></div>
        </div>
        <div class="col-1"></div>
    }
    </div>


    
    <div class="row m-3"></div>
    
</body>
</html>