<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="row m-5"></div>
    <div class="row m-3"></div>
    <div class="row m-5">>
        <div class="col-2"></div>
        <div class="col-8" id="sign-up-form">
            <h1 class="text-center" id="form-h1">Welcome to kavishka Jay Photography</h1>
            <p class="text-center" id="form-p">Let's make your account</p>
            <form [formGroup]="signUpForm">
                <div class="row m-3">
                    <div class="form-group col-6">
                        <input type="text" class="form-control" id="Fname" placeholder="First Name" formControlName="Fname"
                            required>
                        <input type="text" class="form-control" id="Lname" placeholder="Last Name" formControlName="Lname"
                            required>
                        <input type="text" class="form-control" id="Phone" placeholder="Phone Number" formControlName="Phone"
                            required>
                        <input type="text" class="form-control" id="Eaddress" formControlName="Eaddress"
                            placeholder="Email Address" required>
                    </div>
                    <div class="form-group col-6">
                        <input type="text" class="form-control" id="address" placeholder="Address" formControlName="address"
                            required>
                        <input type="text" class="form-control" id="Username" placeholder="Username" formControlName="Username"
                            required>
                        <input type="password" class="form-control" id="Password" placeholder="Password" formControlName="Password"
                            required>
                        <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword"
                            placeholder="Confirm Password" required>
                    </div>
                </div>
                <!-- when we click on that create account button Success Message with Redirect
If sign-up is successful, the user is redirected to:
A welcome page (e.g., "Account Created Successfully").
The login page (so they can log in with their new account).
The home/dashboard page (if automatic login is enabled).-->


               <!-- <a href="#" id="sign-up" [routerLink]="['/signup']"> --> <button type="button" class="btn btn-primary" id="btn-sign-up" (click)="onSubmit()">create account</button> <!--</a>-->

                <div class="row m-3"></div>
            </form>



        </div>
        <div class="col-2"></div>
    </div>

    <div class="row m-5"></div>

</body>

</html>