<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row m-5"></div>
    <div class="row mt-5 justify-content-center" id="edit-category-head"> Edit Category </div>
      <div class="row m-5">
        <div class="col-2"></div>
        <div class="col-8" id="add-category">
            @if(role === 'admin'){
                <form [formGroup]="addEditCategoryForm">
                        <div class="row m-3 justify-content-center"></div>
                        <label for="categoryTitle" class="form-label" id="category-title-heading"> Category Name : </label>
                        <input class="form-control" type="text" id="categoryTitle" formControlName="categoryName"> 
    
                        <label for="imageUpload" class="form-label" id="upload-img-heading">Upload Key Image</label>
                        <input class="form-control" type="file" id="imageUpload" accept="image/*" (change)="onFileSelected($event)">
                        <div class="row m-3"></div>
                        <button class="btn btn-primary container-fluid" id="add-album-btn" type="button" (click)="onSubmit()">Add Album</button>
                        <div class="row m-4"></div>
                </form>
                <div class="row m-3"></div>
            
            }
        </div>
        <div class="col-2"></div>
    </div>

   

    
    <div class="row m-3"></div>
</body>
</html>
