body {
    /*to set background image to the landing page*/
    background-image: url("/portfolio-back.jpg");

    background-size: cover;
    /* ensures the image covers the entire background */
    background-position: center;
    /*centers the image */
    background-repeat: no-repeat;
    /* prevents tiling of the image */
    /* height: 100vh;
    
    /* Ensures the body takes the full height of the viewport */
    margin: 0;
    padding: 0;
    height: 100%;
    background-attachment: fixed;
    /* Removes default margin */
    /* overflow: hidden; Prevents scrolling if the image overflows */


}

#portfolio-category-head
{
    color: rgb(28, 238, 168);
    font-size: 5em;
    text-align: center;
    margin-top: 100px;
    font-weight: bold;
    border-radius: 10px;
}


#album-name
{
    font-size: 2em;
    font-weight: bold;
    color: rgb(29, 16, 108);
    background-color: rgba(250, 176, 176, 0.59);
    display: inline;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 10px;
    border-radius: 10px;
  
}

img
{
    width: 90%;
    height: 90%;
    border-radius: 5%;
}

img:hover
{
    width:95%;
    height:95%;
}

#add-album 
{
    background: linear-gradient(to right, #77116bb9, #051d95bf);
    padding-right: 2%;
    padding-left: 2%;
    border-radius: 10px;
}

#upload-img-heading, #albumName-heading
{
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(67, 230, 181);
}

#albumName
{
    background-color: rgba(146, 231, 239, 0.792);
    border: rgb(5, 5, 86);
}

#imageUpload
{
    font-size: 1.5em;
    color: rgb(22, 7, 99);
    background-color: rgba(146, 231, 239, 0.792);
    border: rgb(5, 5, 86);
    padding-top: 2px;
    padding-bottom: 2px;
}

#add-album-btn
{
    background-color: rgb(5, 5, 86);
    color: white;
    font-size: 1.5em;
    border-radius: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

@media (max-width:1000px)
{
    .row > div {
        width: 100%; /* Make each image container take full width */
        flex: 0 0 100%; /* Force it to take the full row */
        max-width: 100%; /* Ensure it spans the full width */
    }

    .row {
        justify-content: center; /* Center align the images */
        text-align: center;
    }

    #add-album
    {
        width: 100%; /* Make each image container take full width */
        flex: 0 0 100%; /* Force it to take the full row */
        max-width: 100%; /* Ensure it spans the full width */
        align-content: center !important;
    }

    #portfolio-category-head
    {
        text-align: center;
        font-size: 5em;
    }

    img 
    {
       padding-left: 0px !important;
       margin-left: 0px !important;
    }

    #row-2-img-2 {
        margin-top: 30px;
    }

    body {
        /*to set background image to the landing page*/
        background-image: url("/portfolio-category-back.jpg");
    
        background-size: cover;
        /* ensures the image covers the entire background */
        background-position: center;
        /*centers the image */
        background-repeat: no-repeat;
        /* prevents tiling of the image */
        /* height: 100vh;
        
        /* Ensures the body takes the full height of the viewport */
        margin: 0;
        padding: 0;
        height: 100%;
        background-attachment: fixed;
        /* Removes default margin */
        /* overflow: hidden; Prevents scrolling if the image overflows */
    
    
    }

    
}
    
    #add-album-head
    {
        font-size: 5em;
        font-weight: bold;
        color: rgb(132, 205, 29);
        margin-top: 10%;
    }
    
    
    #add-album 
    {
        background: linear-gradient(to right, #9c0938d2, #f9700e82);
        padding-right: 2%;
        padding-left: 2%;
        border-radius: 10px;
    }
    
    #blog-title-heading, #blog-update-date-heading, #upload-img-heading
    {
        font-size: 1.5em;
        font-weight: bold;
        color: rgba(3, 10, 56, 0.848);
    }
    
    #albumTitle, #album-update-date
    {
        background-color: rgba(146, 231, 239, 0.792);
        border: rgb(5, 5, 86);
        font-size: 1.2em;

    }
    
    #imageUpload
    {
        font-size: 1.2em;
        color: rgb(22, 7, 99);
        background-color: rgba(146, 231, 239, 0.792);
        border: rgb(5, 5, 86);
        padding-top: 2px;
        padding-bottom: 2px;
    }
    
    #add-album-btn
    {
        background-color: rgba(15, 27, 107, 0.848);
        color: white;
        font-size: 1.5em;
        border-radius: 10px;
        padding-top: 2px;
        padding-bottom: 2px;
        border: none;
    }
    
    h1 {
        color: black;
        background-color: rgba(15, 161, 110, 0.596);
        border-radius: 5px;
        text-align: center;
    }

    @media (max-width:1000px)
    {
        .row > div {
            width: 100%; /* Make each image container take full width */
            flex: 0 0 100%; /* Force it to take the full row */
            max-width: 100%; /* Ensure it spans the full width */
        }
    
        .row {
            justify-content: center; /* Center align the images */
            text-align: center;
        }
    
        #add-album 
        {
            width: 100%; /* Make each image container take full width */
            flex: 0 0 100%; /* Force it to take the full row */
            max-width: 100%; /* Ensure it spans the full width */
            align-content: center !important;
        }
    
        
    }
    

