<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <div class="row m-5"> </div>
  <div class="row mt-5 justify-content-center" id="add-package-head"> ADD Package Items</div>

  <div class="row m-5">
    <div class="col-2"></div>
    <div class="col-8" id="add-package-item">
      <form [formGroup]="addPackageItemForm">
        <div class="row m-3 justify-content-center"></div>

        <label for="packageTitle" class="form-label" id="package-title-heading"> Item : </label>
        <input class="form-control" type="text" id="packageItemTitle" formControlName="name">

        <label for="packagePrice" class="form-label" id="package-price-heading">price :</label>
        <input class="form-control" type="text" id="packageItemPrice" formControlName="price">


        <div class="row m-3"></div>
        <button class="btn btn-primary container-fluid" id="add-package-item-btn" type="submit" (click)="onSubmit()"> Add Package Item </button>
        <div class="row m-4"></div>

        <div class="col-2"></div>
        <div class="row m-3"></div>



        <!-- </div>-->

      </form>
    </div>
  </div>
</body>

</html>