<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row m-5"> </div>
    <div class="row mt-5 justify-content-center" id="edit-blog-head"> EDIT BLOG </div>

    <div class="row m-5" >
        <div class="col-2"></div>
        <div class="col-8" id="edit-blog">
            <div class="row m-3 justify-content-center"></div>
            <label for="blogTitle" class="form-label" id="blog-title-heading"> Title : </label>
            <input class="form-control" type="text" id="blogTitle" value="AVATER BAND">
            <label for="blog-content" class="form-label" id="blog-content-heading"> Blog Content : </label>
            <textarea class="form-control" id="blog-content" rows="6">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, placeat nisi eum maxime laudantium hic ratione. Temporibus, laboriosam deleniti facere sit voluptatem architecto perferendis fuga harum obcaecati ea quis reprehenderit nostrum quo eos cupiditate in ullam minus amet velit animi aliquid sed eveniet maxime alias. Eligendi illo asperiores recusandae facere cum voluptatem, quos nobis optio at velit unde amet corrupti consectetur eos nam nostrum provident sit illum. Perspiciatis enim, facere dolore obcaecati inventore
                 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum, voluptatum exercitationem praesentium totam quis quia. Quam magnam aperiam dolorem aliquam omnis, nesciunt iste dolores dignissimos. Debitis soluta ex magni quisquam quasi nesciunt consequatur at modi delectus ducimus iure aperiam mollitia reiciendis culpa assumenda consequuntur sit, architecto, explicabo quia sunt molestiae.
                 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum, voluptatum exercitationem praesentium totam quis quia. Quam magnam aperiam dolorem aliquam omnis, nesciunt iste dolores dignissimos. Debitis soluta ex magni quisquam quasi nesciunt consequatur at modi delectus ducimus iure aperiam mollitia reiciendis culpa assumenda consequuntur sit, architecto, explicabo quia sunt molestiae.
            </textarea>
            <label for="blog-updated-date" class="form-label" id="blog-updated-date-heading"> Updated date : </label>
            <input class="form-control" type="date" id="blog-updated-date" value="2023-10-20">
            <label for="imageUpload" class="form-label" id="upload-img-heading">Upload Image :</label>
            <input class="form-control" type="file" id="imageUpload" accept="image/*">
            <div class="row m-3"></div>
            <a href="#" class="nav-link text-white" [routerLink]="['/blog-post-1']" > <button class="btn btn-primary container-fluid" id="add-album-btn" type="submit">Update</button> </a>
            <div class="row m-4"></div>
        </div>
        <div class="col-2"></div>
        <div class="row m-3"></div>
    </div>
</body>
</html>