<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row m-5"></div>
    <div class="row m-5">
        <p class="justify-content-center text-center" id="heading"> UPCOMING SESSION <br> APPOINTMENTS </p>
    </div>
    <div class="row m-5">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="row m-3 justify-content-center" id="up-session-appointments-info">
                <div class="row m-3" id="info">
                    <div class="col-2"></div>
                    <div class="col-9">
                        <div class="row m-4"></div>
                        <div class="row m-1"id="package-div">
                            <div class="col-5 justify-content-start  info-title" >Package :</div>
                            <div class="col-7   info-value" id="package">One day wedding package  </div>
                        </div>
                        <div class="row m-1" id="number-div">
                            <div class="col-5 info-title">Date :</div>
                            <div class="col-7 info-value" id="Date">2025/03/20  </div>
                        </div>
                        <div class="row m-1" id="time-div">
                            <div class="col-5 info-title">Time :</div>
                            <div class="col-7 info-value" id="Date">3.00PM  </div>
                        </div>
                        <div class="row m-1" id="place-div">
                            <div class="col-5 info-title">Place : </div>
                            <div class="col-7 info-value" id="place">Avenro Hotel,Kamburupitiya </div>
                        </div>
                        <div class="row m-1"id="event-div">
                            <div class="col-5  justify-content-start info-title" >Event : </div>
                            <div class="col-7  justify-content-end info-value" id="event-type">Wedding Shoot  </div>
                        </div>
                        <div class="row m-1" id="sessionStatus-div">
                            <div class="col-5 info-title">Session status :</div>
                            <div class="col-7 info-value" id="sessionStatus"> confirmed  </div>
                        </div>
                        <div class="row m-1" id="paymentStatus-div">
                            <div class="col-5 info-title">Payment Status : </div>
                            <div class="col-7 info-value" id="paymentStatus"> Pending Payment </div>
                        </div>
                        <div class="row m-1"id="amount-div">
                            <div class="col-5 info-title">Amount : </div>
                            <div class="col-7 info-value" id="amount">Rs.100,000.00  </div>
                        </div>
                    </div>
                    <div class="col-1"></div>
                </div>
        
                <div class="row m-2">
                    <div class="col-7"></div>
                    <div class="col-5">
                        <button class="btn" id="btn-Payment"> Payment </button>
                    </div>
                </div>
                <div class="row mt-3"></div>
            </div>
        </div>        
        <div class="col-1"></div>
    </div>
    <div class="row m-2">
        <div class="col-7"></div>
        <div class="col-5">
            <a href="#" class="nav-link text-white" [routerLink]="['/request-session-appointment']"> <button class="btn" id="btn-request-appointment"> Request Appointment </button> </a>
        </div>
    </div>
    <div class="row m-5"></div>
</body>
</html>
