<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row m-5 " id="blog-heading">
        <div class="row mt-3 justify-content-center text-center"> B L O G </div>
    </div>

    <!--
    <div class="row justify-content-center container-fluid">
        <div class="col-6" id="blog-section-left">
            <div class="row mt-3 justify-content-center text-center" id="blog-tittle"> AVATER Band </div>
            <div class="row mt-3 justify-content-center text-center" id="blog-content"> Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Dolor impedit repellat mollitia quasi ipsa reprehenderit perferendis illo
                vitae officiis, provident laborum non corporis modi minus repellendus? Necessitatibus nobis tenetur dolor
                veniam dicta dolorem repellat aliquid labore eligendi omnis incidunt nostrum vitae, ex aliquam tempora eos.
                Sunt suscipit nobis ipsa odio. </div>
            <div class="row mt-1 justify-content-center text-center" id="btn-area">
                <a href="#" class="nav-link text-white" [routerLink]="['/blog-post-1']"> <button class="btn btn-primary mt-3" id="btn-see-more"> Read More</button> </a>
                <div class="row mt-3"></div>
            </div>
        </div>

        <div class="col-6 " id="blog-section-right">
            <div class="row mt-3 justify-content-center text-center" id="blog-tittle"> AVATER Band </div>
            <div class="row mt-3 justify-content-center text-center" id="blog-content"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor impedit repellat mollitia quasi ipsa reprehenderit perferendis illo vitae officiis, provident laborum non corporis modi minus repellendus? Necessitatibus nobis tenetur dolor veniam dicta dolorem repellat aliquid labore eligendi omnis incidunt nostrum vitae, ex aliquam tempora eos. Sunt suscipit nobis ipsa odio. </div>
            <div class="row mt-1 justify-content-center text-center" id="btn-area">
                <button class="btn btn-primary mt-3" id="btn-see-more">Read More</button>
                <div class="row mt-3"></div>
            </div>
        </div>
    </div>
-->

<div class="row justify-content-center container-fluid">
    <div class="col-6" id="blog-section-left">
        <div class="row mt-3 justify-content-center text-center" id="blog-tittle"> AVATER Band </div>
        <div class="row mt-3 justify-content-center text-center" id="blog-content"> Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Dolor impedit repellat mollitia quasi ipsa reprehenderit perferendis illo
            vitae officiis, provident laborum non corporis modi minus repellendus? Necessitatibus nobis tenetur dolor
            veniam dicta dolorem repellat aliquid labore eligendi omnis incidunt nostrum vitae, ex aliquam tempora eos.
            Sunt suscipit nobis ipsa odio. </div>
        <div class="row mt-1 justify-content-center text-center" id="btn-area">
            <a href="#" class="nav-link text-white" [routerLink]="['/blog-post-1']"> <button class="btn btn-primary mt-3" id="btn-see-more"> Read More</button> </a>
            <div class="row mt-3"></div>
        </div>
    </div>

    <div class="col-6 " id="blog-section-right">
        <div class="row mt-3 justify-content-center text-center" id="blog-tittle"> AVATER Band </div>
        <div class="row mt-3 justify-content-center text-center" id="blog-content"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor impedit repellat mollitia quasi ipsa reprehenderit perferendis illo vitae officiis, provident laborum non corporis modi minus repellendus? Necessitatibus nobis tenetur dolor veniam dicta dolorem repellat aliquid labore eligendi omnis incidunt nostrum vitae, ex aliquam tempora eos. Sunt suscipit nobis ipsa odio. </div>
        <div class="row mt-1 justify-content-center text-center" id="btn-area">
            <button class="btn btn-primary mt-3" id="btn-see-more">Read More</button>
            <div class="row mt-3"></div>
        </div>
    </div>
</div>



    <!--
    <div class="row m-5 " id="btn-change">
        <div class="col-8"> </div>
        <div class="col-2">
            <a href="#"  [routerLink]="['/add-blog']">  <button class="btn btn-primary mt-3" id="btn-add-blog"> Add blog</button> </a>
        </div>
        <div class="col-2">
            <button class="btn btn-primary mt-3" id="btn-dlt-blog">Delete Blog</button>
        </div>
    </div>
    -->

    <div class="row m-5 " id="btn-change">
        <div class="col-7"> </div>
        <div class="col-5">
            <a href="#"  [routerLink]="['/add-blog']">  <button class="btn btn-primary mt-3" id="btn-add-blog"> Add blog</button> </a>
        </div>
       <!-- <div class="col-1"> </div> -->
    </div>
    
    

    
    
</body>
</html>
