<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
</head>

<body>
    <div class="row m-5"></div>
    <div class="row m-5"></div>
    <div class="row m-5"></div>
    <div class="row m-5">
        <div class="col-2"></div>
        <div class="col-8" id="reset-password-form">
            <div class="row m-3"></div>
            <h1 class="text-center" id="form-h1">New Password</h1>
            <p class="text-center" id="form-p"> Set new password for your account </p>
            <form action="sign-up.php" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" id="Password" name="Password" placeholder="Password"
                        required>
                    <input type="text" class="form-control" id="Confirm-Password" name="Confirm-Password" placeholder="Confirm Password"
                        required>
                </div>
            </form>
            

            <a href="#" [routerLink]="['/login']" >
                <button type="submit" class="btn btn-primary" id="btn-send-verification"> send verification</button>
            </a>
        
            
            <div class="row m-3"></div>
        </div>
        <div class="col-2"></div>
        <div class="row m-5"></div>
    </div>
</body>

</html>